/* Dashboard.css */

.dashboard {
    text-align: center;
    padding: 20px;
    background-color: #f6f5f7;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .logout-button {
    border-radius: 20px;
    border: 1px solid #00465f;
    background-color: #00465f;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 80ms ease-in;
  }
  
  .logout-button:active {
    transform: scale(0.95);
  }
  
  .logout-button:focus {
    outline: none;
  }
  
  .logout-button:hover {
    background-color: #0347ad; /* Change to your desired hover color */
  }
  